QWidget {
    background-color: #212121;
    color: #ffffff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 14px;
}

QTextEdit {
    background-color: #121212;
    border: 1px solid #333;
    border-radius: 4px;
    color: #00ff00; 
    font-family: 'Consolas', monospace;
    font-size: 16px; 
    padding: 8px;
}

/* --- SCROLLBAR --- */
QScrollBar:vertical {
    border: none;
    background: #1e1e1e;
    width: 14px;
    margin: 0px;
}
QScrollBar::handle:vertical {
    background: #555555;
    min-height: 20px;
    border-radius: 7px;
    margin: 2px;
}
QScrollBar::handle:vertical:hover {
    background: #aaaaaa;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical { 
    height: 0px; 
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/* --- BOTONES --- */
QPushButton {
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
}
QPushButton#BtnClear {
    background-color: #3e82ff;
    color: white;
}
QPushButton#BtnClear:hover { background-color: #6ebbff; }
QPushButton#BtnClear:pressed { padding-top: 12px; }

QPushButton#BtnClose {
    background-color: #cc0000;
    color: white;
}
QPushButton#BtnClose:hover { background-color: #ff0000; }
QPushButton#BtnClose:pressed { padding-top: 12px; }

/* --- FOOTER --- */
QLabel#FooterLabel {
    font-size: 11px;
    color: #444444;
    font-weight: 400;
    background: transparent;
    padding: 0px;
    margin: 0px;
}